[submodule "kb-switch-footprint"]
	path = keebs.pretty
	url = git@github.com:egladman/keebs.pretty.git
[submodule "kb-footprint"]
	path = keyboard_parts.pretty
	url = git@github.com:tmk/keyboard_parts.pretty.git
[submodule "kb-component"]
	path = kicad_lib_tmk
	url = git@github.com:tmk/kicad_lib_tmk.git
